body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-tag{
    color: #ffa500;
}
.flexible-containar{
    display: flex;
    margin-bottom: 100px;
}
.sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.study{
    width: 50%;
    padding: 5%;
}
.study img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: #ffffff;
    background-image: linear-gradient(orange,tomato,red,green);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 10px 10px 40px #808080;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid #ff4500;
}
#baby-web{
    border-left: 7px solid #0000ff;
}
footer p{
    text-align: center;
}