body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-tag{
    color: #ffa500;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.study{
    width: 50%;
    padding: 5%;
}
.study img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: #ffffff;
    background-image: linear-gradient(orange,tomato,red,green);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}